body {
  padding: 100px;
}

.bank-title {
  text-align: center;
}

.submit-area {
  margin-top: 50px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

#transaction-area {
  display: none;
}

.status {
  margin: 0 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.deposit {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.balance {
  background-color: orange;
}

.savings {
  text-align: center;
  padding: 20px 0px;
}

@media only screen and (max-width: 700px) {
  .transsec {
    margin-bottom: 20px;
  }
}
